@text-color: #333;
@disabled-color: #ccc;
@border-color: #bbb;

.ko-button {
	display: block;
	border-radius: 30px;
	padding: 0;
	text-align: center;
	cursor: pointer;

	&.is-primary {
		background-color: @primary-color;
		color: #fff;
		border: @primary-color;

		&.is-disabled {
			border: @disabled-color;
			background-color: @disabled-color;
			color: #fff;
		}
	}

	&.is-primary.is-outline {
		background-color: #fff;
		color: @primary-color;
		border: solid 1px @primary-color;

		&.is-disabled {
			border: solid 1px @disabled-color;
			color: @disabled-color;
		}
	}

	&.is-secondary {
		border: solid 1px @border-color;
		color: @text-color;

		&.is-disabled {
			border: solid 1px @disabled-color;
			color: @disabled-color;
		}
	}

	&.is-secondary.is-size-xs {
		color: #666;

		&.is-disabled {
			border: solid 1px @disabled-color;
			color: @disabled-color;
		}
	}

	/* inline */

	&.is-inline {
		display: inline-block;
	}

	&.is-size-xl.is-inline {
		padding: 0 60px;
		border-radius: 30px;
	}
	&.is-size-lg.is-inline {
		padding: 0 50px;
		border-radius: 30px;
	}
	&.is-size-md.is-inline {
		padding: 0 39px;
		border-radius: 30px;
	}
	&.is-size-sm.is-inline {
		padding: 0 14px;
		border-radius: 30px;
	}
	&.is-size-xs.is-inline {
		padding: 0 14px;
		border-radius: 30px;
	}

	/* square */

	&.is-square {
		border-radius: 0;
	}

	/* size */

	&.is-size-xl {
		height: 50px;
		line-height: 50px;
		font-size: 15px;
	}

	&.is-size-lg {
		height: 44px;
		line-height: 44px;
		font-size: 13px;
	}

	&.is-size-md {
		height: 36px;
		line-height: 36px;
		font-size: 13px;
	}

	&.is-size-sm {
		height: 28px;
		line-height: 28px;
		font-size: 13px;
	}

	&.is-size-xs {
		height: 18px;
		line-height: 18px;
		font-size: 11px;
	}
}
